:root {
    --green: #65cc00;
    --gold: #e5c100;
    --black: #000000;
    --gray: #696969;
    --purple: #990099;
    --red: #800000;
    --darkgreen: #3f7f00;
    --darkgold: #998100;
  }

  * {
    font-family: helvetica;
  }
  body { 
     color: var(--fontColor);
     background: var(--bg);
     margin: 20px;
  }
  body a {
    font-size: 18px;
    color: var(--bodyLinkColor); 
    text-decoration: none;
  }
  
  body a:hover {
    color: var(--bodyHoverColor);
    text-decoration: underline;
  }

li {
    font-size: large;
    line-height: 25px;
    margin-right: 3px;
    list-style-position: inside;
    list-style: none;
  }
  
  .list {
    list-style: square;
  }

  .list-2 {
    list-style: circle;
  }

  .container {
    width: 100%;
    position: relative;
    border: 1px solid transparent;
  }

  header {
    font-size: 19px;
    margin: 0;
    padding: 2px; 
    height: 14rem;
    border: 1px solid #000000;
    text-align: center;
    background-image: url("./images/Apple_shreds.jpg");
    overflow: hidden;
  } 

  .site-logo {
    margin-left: 0px;
    padding: 0px;
  }

  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0rem 1.5rem;
  }

  .nav-background {
    background-color: transparent;
  }

  .hamburger {
    display: none;
  }

  .bar {
    display: block;
    width: 30px;
    height: 5px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #998100;
}
  .nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-item {
  margin-left: 0rem;
}
  
.nav-link {
    display: block;
    text-align: center;
    text-decoration: none;
    padding: 14px 16px;
    color: var(--navFontColor);
} 
  
.nav-link:hover {
    color: var(--navAHoverColor);
    background-color: black;
    text-decoration: underline;
}

.nav-link:visited {
  color: #990099;
} 

@media only screen and (max-width: 850px) {
  .nav-menu {
      position: fixed;
      right: -150%;
      top: 120px;
      padding: 0 0;
      flex-direction: column;
      background-color: #193300;
      width: 40%;
      border-radius: 1px;
      text-align: center;
      transition: 0.3s;
      box-shadow:
          0 10px 27px rgba(0, 0, 0, 0.05);
  }

  .nav-menu.active {
      right: 0;
  }

  .nav-item {
     margin: 0px 0;
     margin-top: 0px;
     
      
  }

  .hamburger {
      display: block;
      cursor: pointer;
  }

}

.hamburger.active .bar:nth-child(2) {
  opacity: 0;
}

.hamburger.active .bar:nth-child(1) {
  transform: translateY(10px) rotate(45deg);
}

.hamburger.active .bar:nth-child(3) {
  transform: translateY(-10px) rotate(-45deg);
}

main {
    line-height: 25px;
    margin: 0;
    padding: 0rem;
    padding-right: 4rem;
    background-color: #7f7f7f1f;
  }

.section-1 {
  text-align: center;
  color: var(--darkgreen);
  margin-left: 40px;
  width: 90%;
  padding: 5px;
  overflow: hidden;
 }

article {
  font-size: large;
  color: var(--articleFontColor);
  margin-left: 40px;
  width: 85%;
  padding: 1rem;
  border-top: 1px solid #7f7f7f3d;
  border-bottom: 1px solid #7f7f7f3d;
  overflow: hidden;
 }
 
 .section-2 {
  text-align: left;
  font-family: sans-serif;
  font-size: large;
  color: var(--sect2Color);
  margin-left: 40px;
  width: 85%;
  padding: 1rem;
  padding-right: 0rem;
  left: 0px;
  overflow: hidden;
}

footer {
    font-size: small; 
    margin: 0;
    position:relative;
    right: 0;
    bottom: 0;
    left: 0;
    width: "100%";
    display: flex;
    padding: 10px;
    color: #696969;
    background-color: #360000;
  }

  .light-theme {
    --bg: var(--gold);
    --fontColor: var(--black);
    --btnBg: var(--green);
    --btnFontColor: var(--black);
    --navFontColor: var(--gold);
    --navAHoverColor: var(--green);
    --articleFontColor: var(--black);
    --bodyLinkColor: var(--red);
    --bodyHoverColor: var(--black);
    --sect2Color: var(--black);
  }
  .dark-theme {
    --bg: var(--black);
    --fontColor: var(--green);
    --btnBg: var(--black);
    --btnFontColor: var(--gold);
    --navFontColor: var(--gray);
    --navAHoverColor: var(--gold);
    --articleFontColor: var(--purple);
    --bodyLinkColor: var(--purple);
    --bodyHoverColor: var(--darkgold);
    --sect2Color: var(--darkgold);
  }

  .clearfix::after {
    content: "";
    clear: both;
    display: table;
  }
  
  .btn {
    font-family: sans-serif;
    font-size: large;
    font-weight: bold;
    position: absolute;
    margin: 18px 5px;
    left: 1.4rem;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    border: 2px solid #4c9900;
    color: var(--btnFontColor);
    background-color: var(--btnBg);
  }

  .btn:focus { 
    outline-style: none; 
  }

  

  